#itemDescription {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

#itemBorderStyle {
  border: 2px solid #ccc;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

#heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#heading {
  margin: 0;
}

#drillDownButton {
  margin-bottom: 10px;
}
